 *{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgba(0, 0, 0, 0.909);
}
.head{
    height: 100vh;
    width: 100%;
}
span{
    color: #f9004d;
}
.img{
    color: antiquewhite;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    padding-left: 5%;
    word-spacing: 1em;
    
}
ul>a{
    color: antiquewhite;
    text-decoration: none;
    
}

button{
    border-radius: 15px;
    border: 1px solid #fff;
    padding: 8px;
    background-color: black;
    color: white;
}
button:hover{
    filter: drop-shadow(2px 2px 2px white);
    scale: 1.2;
    transition: all ease 1s;
    cursor: pointer;
}
.section {
    background-color: black;
  }
  
  .section__container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /*.subtitle {
    letter-spacing: 2px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }*/
  
  .title  , .subtitle {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    color: #fff;
    margin-bottom: 1rem;
  }
  
  .title span {
    font-weight: 600;
  }
  
  .description {
    line-height: 1.5rem;
    color: #fff;
    margin-bottom: 2rem;
  }
  
  .action__btns {
    display: flex;
    gap: 1rem;
  }
  
  .action__btns button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .hire__me {
    color: antiquewhite;
    
  }
  
  .hire__me:hover {
    color: antiquewhite;
  }
  
  .portfolio {
    color: antiquewhite;
  }
  
  .portfolio:hover {
    background-color: var(--primary-color-dark);
    color: #ffffff;
  }
  
  .image {
    display: grid;
    place-items: center;
    
  }
  
  .image img {
    width: min(25rem, 50%);
    border-radius: 50%;
  }
  .image {
    display: grid;
    place-items: center;
    
  }
  
  .image img {
    width: min(25rem, 50%);
    border-radius: 50%;
  }
  
  @media (width < 750px) {
    nav .checkbox {
      display: block;
    }
  
    ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 85px);
      left: -100%;
      top: 85px;
      background-color: var(--extra-light);
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
    }
  
    nav #check:checked ~ ul {
      left: 0;
    }
  
    ul li a {
      font-size: 1.25rem;
    }
  
    .section__container {
      padding: 10rem 1rem 5rem 1rem;
      text-align: center;
      grid-template-columns: repeat(1, 1fr);
    }
  
    .image {
      grid-area: 1/1/2/2;
    }
  
    .action__btns {
      margin: auto;
    }
  }
  